.postcode-form,
.contact-form,
.leden-form {
  width: 240px;
  clear: both;
}
.postcode-form input,
.contact-form input,
.leden-form input, select {
  width: 140%;
  clear: both;
}

select,
label,
.contact-form input {
  display: block;
}

select,
label {
  margin-bottom: 10px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

td[colspan="3"] {
  text-align: center;
}

