.leden-form {
    width: 200px;
    clear: both;
    }
    
    .leden-form input {
    width: 100%;
    clear: both;
    }

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    }

    td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    }

    tr:nth-child(even) {
    background-color: #dddddd;
    }

